<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Shweta/IdeaProjects/ATB8xAPIAutomationPrograms/src/test/java/org/example/samplecheck/RestAssuredBasics/GET/APITesting006_NonBDDStyle.java">
        <classes>
            <class name="org.example.samplecheck.RestAssuredBasics.GET.APITesting_GET_TestNG">
                </class>
        </classes>
    </test>
</suite>testng.xml